<footer class="page-footer"> 
    <div class="container container-footer"></div>
            <svg class="logo-footer" width="127" height="20">
                <use href="./img/icons.svg#icon-logo">
                </use> 
            </svg>
            <adress class="">
                <ul class="list-contact-footer">
                    <li class="item-contact-footer"><a class="phone-number-footer" href="tel:UK+380665438912">UK:+38 066
                            543 8912</a></li>
                    <li class="item-contact-footer">
                        <p class="text-adress-footer">Ukraine, Kyiv</p>
                    </li>
                </ul>
            </adress>
            <div class="container-link-items">
            <ul class="list-social-footer">
                <li class="item-social-footer"><a href="">Instagram</a></li>
                <li class="item-social-footer"><a href="">Facebook</a></li>
                <li class="item-social-footer"><a href="">Youtube</a></li>
            </ul>
            <nav>
                <ul class="list-sections-footer">
                    <li class="item-section-footer"><a href="">About us</a></li>
                    <li class="item-section-footer"><a href="">Our cources</a></li>
                    <li class="item-section-footer"><a href="">Our mentors</a></li>
                    <li class="item-section-footer"><a href="">Reviews</a></li>
                    <li class="item-section-footer"><a href="">Contacts</a></li>
                </ul>
            </nav>
          </div>
            <form class="form-footer">
                <label class="">
                    <input class="form-input-footer" name="user-subscribe-email" type="email"
                        placeholder="Enter your email">
                </label>
                <button class="form-button-footer" type="submit">GO</button>
            </form>
        
        <div class="container-text-footer">
        <div class="container-wrapper-text">
            <p class="text-policy-footer">Privacy Policy</p>
            <p class="text-agreement-footer">Pablic Offering Agreement</p>
        </div>
            <p class="text-copyright-footer">2023 Focus Frame &#169; All rights reserved</p>
        </div>
    </div>
</footer>