<footer class="page-footer"> 
    <div class="container container-footer">
    <div class="logo-adress-wrapper-footer">  
            <svg class="logo-footer" width="127" height="20">
                <use href="./img/icons.svg#icon-logo">
                </use> 
            </svg>
            <address class="">
                <ul class="list-contact-footer">
                    <li class="item-contact-footer"><a class="phone-number-footer" href="tel:UK+380665438912">UK:+38 066
                            543 8912</a></li>
                    <li class="item-contact-footer">
                        <p class="text-adress-footer">Ukraine, Kyiv</p>
                    </li>
                </ul>
            </address>
        </div>
            <div class="container-link-items">
            <ul class="list-social-footer">
                <li class="item-social-footer"><a class="nav-link-social-footer" href="https://www.instagram.com/goitclub/">Instagram</a></li>
                <li class="item-social-footer"><a class="nav-link-social-footer" href="https://www.facebook.com/goITclub/">Facebook</a></li>
                <li class="item-social-footer"><a class="nav-link-social-footer" href="https://www.youtube.com/c/GoIT">Youtube</a></li>
            </ul>
            <nav class=".">
                <ul class="list-sections-footer">
                    <li class="item-section-footer"><a class="nav-link-footer" href="#about_us">About us</a></li>
                    <li class="item-section-footer"><a class="nav-link-footer" href="#our_courses">Our cources</a></li>
                    <li class="item-section-footer"><a class="nav-link-footer" href="#our_mentors">Our mentors</a></li>
                    <li class="item-section-footer"><a class="nav-link-footer" href="#reviews">Reviews</a></li>
                    <li class="item-section-footer"><a class="nav-link-footer" href="#sign_up">Contacts</a></li>
                </ul>
            </nav>
          </div>
            <form class="form-footer">
                <div class="container-form-footer">
                <label class="form-label-footer">
                    <input class="form-input-footer" name="user-subscribe-email" type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        placeholder="Enter your email">
                </label>
                <button class="form-button-footer" type="submit">GO</button> 
                </div>
            </form>
   
        <div class="container-text-footer">
        <div class="container-wrapper-text-policy">
            <p class="text-policy-footer">Privacy Policy</p>
            <p class="text-policy-footer">Pablic Offering Agreement</p>
        </div>
        <div class="container-wrapper-text-copiright">
            <p class="text-copyright-footer">2023 Focus Frame
            <p class="text-copyright-footer"> &#169;All rights reserved </p>
        </div> 
      </div>
    </div>
</footer>