<header class="header">
  <div class="container">
    <div class="header-wraper">
      <div class="header-nav">
        <a href="" class="header-logo">
          <svg width="127" height="20">
            <use href="../img/icons.svg#icon-camera-footer"></use>
          </svg>
        </a>

        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Contacts</a>
          </li>
        </ul>

        <a href="" class="mobile-menu-btn">
          <svg width="" height="">
            <use href=""></use>
          </svg>
          <svg width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </div>

      <a href="" class="header-singup-link">Sign up</a>
    </div>
  </div>
</header>
<div class="mobile-menu is-open">
  <button class="mobile-menu-close-btn">
    <svg class="mobile-menu-close-icon" width="32" height="32">
      <use href="../img/icons.svg#icon-close-menu"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a href="" class="mobile-menu-link current">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a href="" class="mobile-menu-link">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a href="" class="mobile-menu-link">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a href="" class="mobile-menu-link">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a href="" class="mobile-menu-link">Contacts</a>
    </li>
  </ul>
  <picture>
    <source />
    <source />
    <source />
    <img src="" alt="" />
  </picture>
</div>
