<header class="header">
  <div class="container">
    <div class="header-wraper">
      <div class="header-nav">
        <a href="" class="header-logo">
          <svg width="" height="">
            <use href=""></use>
          </svg>
        </a>

        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="header-nav-link">Contacts</a>
          </li>
        </ul>

        <a href="" class="mobile-menu-btn">
          <svg width="" height="">
            <use href=""></use>
          </svg>
          <svg width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </div>

      <a href="" class="header-singup-link">Sign up</a>
    </div>
  </div>
</header>
