<header class="header">
  <div class="container">
    <div class="header-wraper">
      <nav class="header-nav">
        <a href="/src/index.html" class="header-logo">
          <svg class="header-logo-icon" width="127" height="20">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="header-nav-list list">
          <li class="header-nav-item">
            <a href="#" class="header-nav-link link">About us</a>
          </li>
          <li class="header-nav-item">
            <a href="#" class="header-nav-link link">Our courses</a>
          </li>
          <li class="header-nav-item">
            <a href="#" class="header-nav-link link">Our mentors</a>
          </li>
          <li class="header-nav-item">
            <a href="#" class="header-nav-link link">Reviews</a>
          </li>
          <li class="header-nav-item">
            <a href="#" class="header-nav-link link">Contacts</a>
          </li>
        </ul>

        <a href="#" class="header-mobile-singup link">
            <svg width="16" height="16">
            <use href="../img/icons.svg#icon-camera-footer"></use>
          </svg>
        </a>
          
          <button class="mobile-menu-open-btn" type="button"></button>
          <svg class="mobile-menu-open-icon" width="32" height="22">
            <use href="../img/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </nav>

      <a href="#" class="header-singup link">Sign up</a>
    </div>
  </div>
</header>

<!------------------  mobile-menu  ----------------->

<div class="mobile-menu">
  <button class="mobile-menu-close-btn" type="button">
    <svg class="mobile-menu-close-icon" width="32" height="32">
      <use href="../img/icons.svg#icon-close-menu"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a href="#" class="mobile-menu-link current">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#" class="mobile-menu-link">Our courses</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#" class="mobile-menu-link">Our mentors</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#" class="mobile-menu-link">Reviews</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#" class="mobile-menu-link">Contacts</a>
    </li>
  </ul>
  <picture class="mobile-menu-img">
    <source />
    <source />
    <source />
    <img src="" alt="" />
  </picture>
</div>
