<section class="section">
  <div class="container hero-container">
    <div class="hero-container-inner">
      <h1 class="hero-title">
        Discover the magic of
        <span class="hero-title-span">photography</span> in our school
      </h1>
      <p class="hero-descr">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-content-wrap">
        <div class="hero-students">
          <div class="hero-student-photos-wrap">
            <img
              class="hero-students-photo"
              src="./img/girl 1.png"
              alt="girl"
              width="44"
            />
            <img
              class="hero-students-photo"
              src="./img/boy.png"
              alt="boy"
              width="44"
            />
            <img
              class="hero-students-photo"
              src="./img/girl.png"
              alt="girl"
              width="44"
            />
          </div>
          <a class="hero-students-link" href=""
            >Our happy <br />students
            <svg class="hero-students-icon" width="18" height="8.66">
              <use href="./img/icons.svg#Arrow"></use>
            </svg>
          </a>
        </div>
        <div class="hero-reviews">
          <div class="hero-reviews-icon-wrap">
            <svg class="hero-reviews-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </div>
          <div class="hero-reviews-descr-wrap">
            <p class="hero-reviews-descr">Reviews</p>
            <span class="hero-reviews-span">+1500</span>
          </div>
        </div>
      </div>
      <img
        class="hero-main-photo"
        src="./img/Rectangle 5.png"
        alt="guy"
        width="259"
      />
    </div>
  </div>
</section>
