<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-container-inner">
      <div class="content-wrap">
        <h1 class="hero-title">
          Discover the magic of
          <span class="hero-title-span">photography</span> in our school
        </h1>
        <p class="hero-descr">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-content-wrap">
          <div class="hero-students">
            <div class="hero-student-photos-wrap">
              <!-- girl -->
              <picture class="hero-students-photo">
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img\hero\students54px\girl1-min.png    1x,
                    ./img\hero\students54px\girl1@2x-min.png 2x
                  "
                />
                <source
                  media="(max-width: 767.98px)"
                  srcset="
                    ./img\hero\students44px\girl1-min.png    1x,
                    ./img\hero\students44px\girl1@2x-min.png 2x
                  "
                />
                <img
                  src="./img/hero/students54px/girl 1-min.png"
                  alt="girl"
                  width="54"
                />
              </picture>

              <!-- boy -->
              <picture class="hero-students-photo">
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img\hero\students54px\boy-min.png    1x,
                    ./img\hero\students54px\boy@2x-min.png 2x
                  "
                />
                <source
                  media="(max-width: 767.98px)"
                  srcset="
                    ./img\hero\students44px\boy-min.png    1x,
                    ./img\hero\students44px\boy@2x-min.png 2x
                  "
                />
                <img
                  src="./img/hero/students54px/boy-min.png"
                  alt="boy"
                  width="54
                "
                />
              </picture>

              <!-- another girl -->
              <picture class="hero-students-photo">
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img\hero\students54px\girl-min.png    1x,
                    ./img\hero\students54px\girl@2x-min.png 2x
                  "
                />
                <source
                  media="(max-width: 767.98px)"
                  srcset="
                    ./img\hero\students44px\girl-min.png    1x,
                    ./img\hero\students44px\girl@2x-min.png 2x
                  "
                />
                <img src="./img/girl.png" alt="girl" width="54" />
              </picture>
            </div>
            <a class="hero-students-link" href="#reviews"
              >Our happy <br />students
              <svg class="hero-students-icon" width="18" height="8.66">
                <use href="./img/icons.svg#icon-arrow-hero"></use>
              </svg>
            </a>
          </div>
          <div class="hero-reviews">
            <div class="hero-reviews-icon-wrap">
              <svg class="hero-reviews-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star-hero"></use>
              </svg>
            </div>
            <div class="hero-reviews-descr-wrap">
              <p class="hero-reviews-descr">Reviews</p>
              <span class="hero-reviews-span">+1500</span>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <!-- desktop -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img\hero\hero-desktop@1x.png 1x,
            ./img\hero\hero-desktop@2x.png 2x
          "
        />

        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img\hero\hero-tablet@1x.png 1x,
            ./img\hero\hero-tablet@2x.png 2x
          "
        />

        <!-- Mobile -->
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./img\hero\hero-mobile@1x.png 1x,
            ./img\hero\hero-mobile@2x.png 2x
          "
        />
        <img
          class="hero-main-photo"
          src="./img/hero/hero-desktop@1x.png"
          alt="guy"
          width="397"
        />
      </picture>
    </div>
  </div>
</section>
