<!---------------Mentors section----------------->
<section class="mentors section" id="our_mentors">
    <div class="container">
        <h2 class="mentors-section-title">Our <span class="title-part">Mentors</span></h2>
        <ul  class="mentors-list">
            <li class="mentors-item">
                <img class="mentors-image" 
                srcset="./img/mentors/emilia@2x.jpg 2x, ./img/mentors/emilia@1x.jpg"
                src="./img/mentors/emilia@1x.jpg" alt="Emilia Smith" width="180" height="180"/>
                    <div class="mentors-content">
                        <h3 class="mentors-name">Emilia Smith</h3>
                        <p class="mentors-exp"> 1.5 years of experience</p>
                    </div>
                </img>
            </li>
            <li class="mentors-item">
                <img class="mentors-image" 
                srcset="./img/mentors/alex@2x.jpg 2x, ./img/mentors/alex@1x.jpg"
                src="./img/mentors/alex@1x.jpg" alt="Alex Lebedev" width="180" height="180"/>
                    <div class="mentors-content">
                        <h3 class="mentors-name">Alex Lebedev</h3>
                        <p class="mentors-exp"> 3.5 years of experience</p>
                    </div>
                
            </li>
            <li class="mentors-item">
                <img class="mentors-image" 
                srcset="./img/mentors/mia@2x.jpg 2x, ./img/mentors/mia@1x.jpg"
                src="./img/mentors/mia@1x.jpg" alt="Mia Dubrovska" width="180" height="180"/>
                    <div class="mentors-content">
                        <h3 class="mentors-name">Mia Dubrovska</h3>
                        <p class="mentors-exp"> 2.0 years of experience</p>
                    </div>
                </img>
            </li>
            <li class="mentors-item">
                <img class="mentors-image" 
                srcset="./img/mentors/eliot@2x.jpg 2x, ./img/mentors/eliot@1x.jpg 1x"
                src="./img/mentors/eliot@1x.jpg" alt="Eliot Kovalev" width="180" height="180"/>
                    <div class="mentors-content">
                        <h3 class="mentors-name">Eliot Kovalev</h3>
                        <p class="mentors-exp"> 4.0 years of experience</p>
                    </div>
                </img>
            </li>
        </ul>
    </div>

</section>
<!---------------Mentors section-END----------------->