body {
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .container {
    min-width: 320px;
  }

  .marquee {
    overflow: hidden;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    font-size: 34px;
    border-width: 1px;
    border-top: ridge rgba(255, 255, 255 ,0.2);
border-bottom: ridge rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    background-color: #121212;
    
  }
  
  .marquee__inner {
    display: flex;
    

justify-content: center;
align-items: center;
gap: 20px;
  }
  
  .marquee__line {
    color: #BEA69E;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.56px;
    flex-shrink: 0;
    margin: 0;
    padding: 20px;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
  }

  .marquee__span {
    color: #fff;
  }
  
  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-100%);
    }
  }




  @media screen and (min-width: 768px) {
    .marquee__line {
        font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.8px;
    padding-top: 24px;
    padding-bottom: 24px;
    }

    .container {
        min-width: 768px;
    }

  }

  @media screen and (min-width: 1280px) {
    .marquee__line {
        font-size: 59px;
line-height: 64px; 
letter-spacing: -1.18px;
    }

    .container {
        min-width: 1280px;
    }

  }