.header {
  padding-bottom: 20px;
}

.header-wraper {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  padding: 15px 0;
  fill: var(--white);
}

.header-logo-icon {
  width: 127px;
  height: 20px;
}

.header-nav-list {
  display: none;
}

.header-mobile-singup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--hero-bg);
  fill: rgba(190, 166, 158, 0.4);
}

.header-mobile-singup:hover,
.header-mobile-singup:focus,
.header-mobile-singup:active {
  fill: var(--brown);
}

.mobile-menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-open-icon {
  stroke: var(--white);
  width: 32px;
  height: 22px;
}

.header-singup {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-wraper {
    justify-content: space-between;
  }

  .header-nav {
    width: 504px;
  }

  .header-logo {
    padding: 22px 0;
  }

  .header-logo-icon {
    width: 123px;
    height: 16px;
  }

  .header-mobile-singup {
    display: none;
  }

  .mobile-menu-open-icon {
    width: 40px;
    height: 28px;
  }

  .header-singup {
    display: flex;
    justify-content: center;
    min-width: 180px;
    padding: 16px 0;
    background-color: var(--white);
    border-radius: 12px;

    color: var(--black);
    font-family: inherit;
    font-size: 18px;

    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
  }

  .header-singup:hover,
  .header-singup:focus,
  .header-singup:active {
    background-color: var(--hero-bg);
    color: var(--brown);
  }
}

@media screen and (min-width: 1280px) {
  .header-nav {
    padding: 0 50px;
    width: 982px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .header-nav-item {
    color: var(--white);

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-nav-link {
    padding: 21px 0;
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-nav-link:active {
    color: var(--brown);
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .header-singup {
    min-width: 238px;
  }
}

/* ======================== mobile-menu =========================== */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 998;

  padding-top: 180px;
  text-align: start;
  background-color: var(--brown);
  transform: translateX(100%);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-menu.is-open {
  transform: translateX(0);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  fill: var(--);
  border: none;

  cursor: pointer;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mobile-menu-list {
  padding: 0 20px;
  margin-bottom: auto;
}

.mobile-menu-item {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  /* letter-spacing: 0.03em; */
  color: var(--black);
  text-transform: uppercase;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  font-weight: 700;
}

.mobile-menu-link.current {
  font-weight: 700;
}

.mobile-menu-picture {
  background-color: var(--brown);
  width: 100%;
  height: 329px;
}

.mobile-menu-img {
  display: block;
  width: 218px;
  height: 329px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 480px;
    padding-top: 232px;
  }

  .mobile-menu-close-btn {
    right: 32px;
  }

  .mobile-menu-list {
    padding: 0 64px;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 28px;
  }

  .mobile-menu-picture {
    height: 480px;
  }

  .mobile-menu-img {
    width: 480px;
    height: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

/* ============================================== */
