.hero-container {
  border-radius: 30px;
  background: #1d1d1d;
  color: #fff;
  padding: 40px 20px 0;
}

.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.hero-title-span {
  color: #bea69e;
  font-style: italic;
  font-weight: 400;
}

.hero-content-wrap {
  display: flex;
  align-items: start;
  max-width: 253px;
  margin-bottom: 31px;
}

.hero-descr {
  color: #fff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.hero-students {
  margin-right: auto;
}

.hero-student-photos-wrap {
  width: 109px;
  height: 44px;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 4px;
}

.hero-students-photo {
  position: absolute;
}

.hero-students-photo:first-child {
  top: 0;
  left: 0;
  z-index: 999;
}

.hero-students-photo:nth-child(2) {
  top: 0;
  left: 32px;
  z-index: 998;
}

.hero-students-photo:nth-child(3) {
  top: 0;
  left: 64px;
  z-index: 997;
}

.hero-students-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 89px;
}

.hero-students-icon {
  fill: #fff;
}

.hero-reviews {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-reviews-icon-wrap {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #bea69e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-reviews-icon {
  stroke: #121212;
  fill: transparent;
}

.hero-reviews-descr {
  margin-bottom: 4px;
  color: #ffffff80;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.hero-reviews-span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.04em;
}

.hero-main-photo {
  margin: 0 auto;
}
