/* --------------Mentors section-------------- */

.mentors-section-title {
    color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.04em;
    padding-bottom: 40px;
    }
    .title-part {
        color: var(--brown);
    }
    .mentors-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    
    }
    .mentors-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        
    }
    .mentors-image {
        border-radius: 50%;
    }
    
    .mentors-name {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 4px;
    }
    .mentors-exp {
        color: rgba(255, 255, 255, 0.50);;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: 0.002em;
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        .mentors-section-title {
            padding-bottom: 50px;
            font-size: 48px;
            line-height: 1.12;
            letter-spacing: 0.02em;
        }
        .mentors-name {
            font-size: 28px;
            line-height: 1.14;
            padding-bottom: 4px;
            }
            .mentors-exp {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: 0.002em;
            }
        .mentors-list {
            flex-wrap: wrap;
            flex-direction: row;
            row-gap: 93px;
            column-gap: 100px;
            justify-content: center;
            
        }        
    }
    @media screen and (min-width: 1280px) {
        .mentors-list {
            display: flex;
            gap: 100px;
            flex-basis: calc((100% - 300px) / 4);
            justify-content: center;
            
        }
    }
    /* --------------Mentors section-END------------- */