/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./signup.css');
@import url('./reviews.css');
@import url('./footer.css');

/* Variables */

:root {
  --black: #121212;
  --brown: #bea69e;
  --white: #fff;
  --hero-bg: #1d1d1d;
  --text-second-color: #ffffff80;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}
